.section2{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.section2-div{
  display: flex;
  gap: 16px;
}
.section2-div img{
  border: 2px solid var(--text-color);
  filter: blur(1px);
  transition: 0.3s;
  z-index: 2;
  cursor: pointer;
}
.section2-div img:hover{
  filter: blur(0px);
}