.section5{
  margin-top: 151px;
}
.section5 h1{
  text-align: center;
  font-size: 3.125rem;
  color: var(--text-color);
  font-weight: bold;
}
.section5 h1 span{
  color: var(--color-logo);
  font-size: 3.125rem;
}
.containerCards{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 111px;
}
.cards{
  width: 350px;
  background-color: var(--card-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 23px 0px;
  transition: background-color 0.3s ;
}
.cards:hover{
  background-color:var(--color-logo);
}
.cards:hover .cardsFooter p{
  color: var(--text-color);
}
.cardsFooter p:first-child{
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color);
}
.cardsFooter p:last-child{
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-logo);
  margin-top: 10px;
}
.h4{
  margin-top: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 156px;
}
.h4 h4{
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 400;
}
